
<div class="card">
  <div class="card-header">
    Editar empleado
  </div>
  <div class="card-body">

    <form ngNativeValidate [formGroup]="formularioEmpleados" (ngSubmit)="enviarDatos()" >

      <div class="mb-3">
        <label for="" class="form-label">Nombre:</label>
        <input formControlName="nombre" type="text" required
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu nombre">
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Correo:</label>
        <input formControlName="correo" type="email" required
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu correo">
      </div>

      <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-primary">Modificar</button>
        <button type="button" routerLink="/listar-empleado/" class="btn btn-danger" >cancelar</button>
      </div>

    </form>

  </div>

</div>
